body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #b3d0ff, #86b6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background: white;
    width: 350px;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

input{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 8px;
    font-size: 14px;
}

button{
    width: 120px;
    height: 38px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin: 5px;
}

#entrar {
    background: #ff6200;
}

#cadastrar {
    background: #bdbdbd;
    color: black;
}

a{
    color: #ff6200;
    text-decoration: none;
    font-weight: bold;
}
